/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-light: #FCFCFC;
    --color-dark: #1F1F1F;
    --color-hover: #001799;
    --background: #DADEF2;
    --color-accent: #3E54CB;
    --text: 'Montserrat';
    --logo: 'Inter';
}


/***********/
/* STYLING */
/***********/
body {
    margin: 0;

    background-color: var(--color-light);

    font-family: var(--text);
    color: var(--color-dark);
}

h2 {
    margin: 0;
    padding: 2em 0 1.5em 0;
    font-size: 1.5em;
    text-align: center;
}

header {
    margin: 0;
    padding: 1.5em 1em .5em 1em;

    background-color: var(--background);

    font-size: 1em;
    font-weight: 600;
    color: var(--color-dark);
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: .5em;
    grid-template-rows: auto auto;
}

.toggle {
    display: flex;
    gap: .5em;
    flex-direction: column;
    justify-content: space-between;
    width: 2em;
    height: 1.75em;
    cursor: pointer;

    grid-column: 1;
    grid-row: 1;
}

.bar {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: var(--color-dark);
    transition: all 0.3s ease;
}

.menu {
    grid-column: span 2;
    grid-row: 2;
}

.menulist {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menulist li {
    display: block;

    margin: 1.5em 0;
}

.menulist li a {
    color: var(--color-dark);
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
}

header .logo {
    text-decoration: none;
    text-align: end;

    grid-column: 2;
    grid-row: 1;
}

header .logo p {
    font-size: 1.25em;
    color: var(--color-accent);
    margin: 0;
}

header .logo p span {
    color: var(--color-dark);
    margin-right: -0.22em;
}

/* Hamburger menu open */

.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.active .bar:nth-child(2) {
    opacity: 0;
}

.active .bar:nth-child(3) {
    transform: translateY(-18px) rotate(-45deg);
}

.active .menulist {
    display: block;
}









/********************/
/**** MAIN INDEX ****/
/********************/

section {
    padding: 0 1em 0 1em;
}

.home main section > p:first-of-type {
    margin-top: 0;
}

.ux-ui {
    background-color: var(--background);
}

.ux-ui p:first-of-type {
    margin: 0;
    padding-top: 10em;
}

.ux-ui h1 {
    margin: 3em 0 .75em 0;

    font-size: 3em;
    font-weight: 700;
}

.ux-ui h1 span {
    color: var(--color-accent);
}

.ux-ui p:last-of-type {
    padding-bottom: 5em;

    margin: 0;
}

.ux-ui img {
    display: none;
}




/* About Me */

.about-me {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding-bottom: 3em;
}




/* Design Skills */

.design-skills .skills .links > div:first-of-type {
    margin-top: 3em;
}

.design-skills .skills > div > div > p:first-of-type {
    margin-bottom: 0;
}

.design-skills .skills .links > div .progress-container,
.design-skills .skills .rechts > div .progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design-skills .skills .links > div .progress-container > div:first-of-type,
.design-skills .skills .rechts > div .progress-container > div:first-of-type {
    position: relative;

    height: 1em;
    width: 88%;
}

.design-skills .skills .links > div .progress-container > div:first-of-type .progress-color,
.design-skills .skills .rechts > div .progress-container > div:first-of-type .progress-color {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-hover);
    height: 100%;
    z-index: 2;
    border-radius: 15px;
}

.design-skills .skills .links > div:first-of-type .progress-container > div .progress-color {
    width: 80%;
}

.design-skills .skills .links > div:nth-of-type(2) .progress-container > div .progress-color {
    width: 80%;
}

.design-skills .skills .links > div:nth-of-type(3) .progress-container > div .progress-color {
    width: 65%;
}

.design-skills .skills .links > div:last-of-type .progress-container > div .progress-color {
    width: 65%;
}

.design-skills .skills .rechts > div:first-of-type .progress-container > div .progress-color {
    width: 75%;
}

.design-skills .skills .rechts > div:nth-of-type(2) .progress-container > div .progress-color {
    width: 85%;
}

.design-skills .skills .rechts > div:nth-of-type(3) .progress-container > div .progress-color {
    width: 80%;
}

.design-skills .skills .rechts > div:last-of-type .progress-container > div .progress-color {
    width: 70%;
}

.design-skills .skills .rechts {
    margin-bottom: 3em;
}

.design-skills .skills .links > div .progress-container > div:first-of-type .progress-bar,
.design-skills .skills .rechts > div .progress-container > div:first-of-type .progress-bar {
    position: relative;
    background-color: var(--background);
    height: 100%;
    width: 100%;
    z-index: 1;
    border-radius: 15px;
}




/* Portfolio */

.projects {
    margin: 0;
    padding: 0;

    position: relative;

    margin-bottom: 67em;
}

.items {
    position: absolute;
    top: 70%;
}

.projects > div:first-of-type {
    background-color: var(--background);

    height: 25em;
    padding: 0 1em 0 1em;
}

.projects > div > p {
    margin: 0 0 3em 0;
}

.projects .items a {
    text-decoration: none;
    color: var(--color-dark);
}

.projects .items a > div {
    background: linear-gradient(135deg, rgba(252, 252, 252, 0.4), rgba(252, 252, 252, 0.1));
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: .75em;
    transition: 0.5s ease-in;
}

.projects .items a > div:hover {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
    transition: 0.5s ease-in;
}

.projects .items a > div img {
    width: 100%;
    border-radius: .75em;
}

#loods5 > div:last-of-type,
#doededate > div:last-of-type,
#projectinteractie > div:last-of-type {
    padding: 0.75em .75em .75em .75em;
    margin: 0 .75em 3em;
}

#loods5 > div > div,
#doededate > div > div,
#projectinteractie > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#loods5 > div > div h3,
#doededate > div > div h3,
#projectinteractie > div > div h3 {
    margin: 1em 0 0 0;
    padding: 0;
}

#loods5 > div > div p,
#doededate > div > div p,
#projectinteractie > div > div p {
    margin: 0.75em 0;
}

#loods5 i,
#doededate i,
#projectinteractie i {
    color: var(--color-light);

    background-color: var(--color-hover);

    padding: .5em .55em;

    border-radius: 150px;

    transform: rotate(-45deg)
}




/* Contact Opnemen */

.contact {
    background-color: var(--background);
    padding-bottom: 3em;
}

.contact h2 {
    text-align: left;
}

.contact > div:first-of-type {
    width: 100%;
}

.contact > div:first-of-type > div {
    display: flex;
    align-items: center;
    gap: 1.5em;

}

.contact > div:first-of-type > div i {
    font-size: 1em;
}

.contact .mirrored-icon {
    transform: scaleX(-1);
}

.contact > div:last-of-type {
    margin-top: 3em;
}

.contact > div:last-of-type form input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--text-dark);

    border: none;
    border-radius: 5px;

    height: 2.5em;
    width: 100%;

    padding: .75em 1em;
}

.contact > div:last-of-type form textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--text-dark);

    border: none;
    border-radius: 5px;

    height: 12.5em;
    width: 100%;

    padding: .75em 1em;

    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

.contact form button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--color-light);
    background-color: var(--color-accent);
    border-radius: 3px;
    border: none;
    padding: .75em 2.75em;
    margin-top: 1em;
    transition: .25s;
}

.contact form button:hover {
    background-color: var(--color-hover);

    transition: .25s;
}









/******************/
/**** ABOUT ME ****/
/******************/

/*** Zie About me & Design skills bij MAIN INDEX ***/

.aboutme .about-me h1 {
    margin: 0;
    padding: 2em 0 1.5em 0;

    font-size: 1.5em;
    text-align: center;
}

.education {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding-bottom: 3em;
}

.education i {
    color: var(--color-light);
}

.education .vertical-line > div > div {
    border-bottom: .15em solid var(--color-light);
}

.education .vertical-line > div > div:last-of-type {
    border: none;
}

.education .vertical-line > div > div:last-of-type > div:last-of-type p {
    margin: 0;
}

.education .vertical-line > div > div > div:last-of-type p {
    margin-bottom: 1.5em;
}

.education .vertical-line > div > div > div > div {
    display: flex;
    align-items: center;
    gap: 1.5em;
}




.workexp {
    background-color: var(--color-light);
    color: var(--color-dark);
    padding-bottom: 3em;
}

.workexp i {
    color: var(--color-dark);
}

.workexp .vertical-line > div > div {
    border-bottom: .15em solid var(--color-dark);
}

.workexp .vertical-line > div > div:last-of-type {
    border: none;
}

.workexp .vertical-line > div > div:last-of-type > div:last-of-type p {
    margin: 0;
}

.workexp .vertical-line > div > div > div:last-of-type p {
    margin-bottom: 1.5em;
}

.workexp .vertical-line > div > div > div > div {
    display: flex;
    align-items: center;
    gap: 1.5em;
}









/**********************/
/*** PORTFOLIO PAGE ***/
/**********************/

/*** Zie Portfolio bij MAIN INDEX ***/

.portfolio .projects h1 {
    margin: 0;
    padding: 2em 0 1.5em 0;

    font-size: 1.5em;
    text-align: center;
}

.portfolio .projects {
    margin-bottom: 69em;
}









/*****************/
/*** PROJECT 1 ***/
/*****************/

.project1 main section:first-of-type {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    margin-top: 1.5em;
}

.project1 main section:first-of-type a {
    grid-row: 1;
    grid-column: 1;
    text-decoration: none;
    color: var(--color-dark);
}

.project1 main section:first-of-type a i {
    color: var(--color-dark);
    font-size: 2.5em;
}

.project1 main section:first-of-type h1 {
    margin: 0;
    grid-row: 1;
    grid-column: 2;
}

.project1 main section:first-of-type h2 {
    margin: 0;
    padding: 0;
    grid-row: 2;
    grid-column: 2;
    text-align: left;
    color: var(--color-accent);
}

.project1 main section:nth-of-type(2) {
    margin-top: 1.5em;
}

.project1 main section:nth-of-type(2) img {
    width: 100%;
}

.project1 main section:nth-of-type(2) > div:first-of-type {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 4;

    column-gap: 1em;
    row-gap: 1em;

    margin: 1.5em 0 3em 0;
}

.project1 main section:nth-of-type(2) > div:first-of-type p {
    padding: 0;
    margin: 0;

}

.project1 main section:nth-of-type(2) > div:first-of-type p:first-of-type {
    grid-column: 1;
    grid-row: 1;
}

.project1 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2;
}

.project1 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3;
}

.project1 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(4) {
    grid-column: 1;
    grid-row: 4;
}

.project1 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(5) {
    grid-column: 1;
    grid-row: 5;
}

.project1 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(6) {
    grid-column: 2;
    grid-row: 1;
}

.project1 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(7) {
    grid-column: 2;
    grid-row: 2;
}

.project1 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(8) {
    grid-column: 2;
    grid-row: 3;
}

.project1 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(9) {
    grid-column: 2;
    grid-row: 4;
}

.project1 main section:nth-of-type(2) > div:first-of-type p:last-of-type {
    grid-column: 2;
    grid-row: 5;
}

.project1 main section:nth-of-type(2) > div:last-of-type {
    margin-bottom: 3em;
}

.project1 main section:nth-of-type(2) > div:last-of-type p {
    font-weight: 600;
}

.project1 main section:nth-of-type(3) {
    margin-bottom: 3em;
}

.project1 main section:nth-of-type(3) h3 {
    margin-top: 0;
}

.project1 main section:nth-of-type(3) img {
    width: 100%;
}

.project1 main section:nth-of-type(3) img:first-of-type {
    margin-bottom: 1.5em;
}

.project1 main section:nth-of-type(3) h3:last-of-type {
    margin-top: 2em;
}

.project1 main section:nth-of-type(3) p:last-of-type {
    margin: 1.5em 0 2em 0;
}

.project1 main section:nth-of-type(3) img:last-of-type {
    margin-top: 1.5em;
}









/*****************/
/*** PROJECT 2 ***/
/*****************/

.project2 main section:first-of-type {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    margin-top: 1.5em;
}

.project2 main section:first-of-type a {
    grid-row: 1;
    grid-column: 1;
    text-decoration: none;
    color: var(--color-dark);
}

.project2 main section:first-of-type a i {
    color: var(--color-dark);
    font-size: 2.5em;
}

.project2 main section:first-of-type h1 {
    margin: 0;
    grid-row: 1;
    grid-column: 2;
}

.project2 main section:first-of-type h2 {
    margin: 0;
    padding: 0;
    grid-row: 2;
    grid-column: 2;
    text-align: left;
    color: var(--color-accent);
}

.project2 main section:nth-of-type(2) {
    margin-top: 1.5em;
}

.project2 main section:nth-of-type(2) img {
    width: 100%;
}

.project2 main section:nth-of-type(2) > div:first-of-type {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 4;

    column-gap: 1em;
    row-gap: 1em;

    margin: 1.5em 0 3em 0;
}

.project2 main section:nth-of-type(2) > div:first-of-type p {
    padding: 0;
    margin: 0;

}

.project2 main section:nth-of-type(2) > div:first-of-type p:first-of-type {
    grid-column: 1;
    grid-row: 1;
}

.project2 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2;
}

.project2 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3;
}

.project2 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(4) {
    grid-column: 1;
    grid-row: 4;
}

.project2 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(5) {
    grid-column: 1;
    grid-row: 5;
}

.project2 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(6) {
    grid-column: 2;
    grid-row: 1;
}

.project2 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(7) {
    grid-column: 2;
    grid-row: 2;
}

.project2 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(8) {
    grid-column: 2;
    grid-row: 3;
}

.project2 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(9) {
    grid-column: 2;
    grid-row: 4;
}

.project2 main section:nth-of-type(2) > div:first-of-type p:last-of-type {
    grid-column: 2;
    grid-row: 5;
}

.project2 main section:nth-of-type(2) > div:last-of-type {
    margin-bottom: 3em;
}

.project2 main section:nth-of-type(2) > div:last-of-type p {
    font-weight: 600;
}

.project2 main section:nth-of-type(3) {
    margin-bottom: 3em;
}

.project2 main section:nth-of-type(3) h3 {
    margin-top: 0;
}

.project2 main section:nth-of-type(3) img {
    width: 100%;
}

.project2 main section:nth-of-type(3) img:first-of-type {
    margin-bottom: 1.5em;
}

.project2 main section:nth-of-type(3) h3:last-of-type {
    margin-top: 2em;
}

.project2 main section:nth-of-type(3) p:last-of-type {
    margin: 1.5em 0 2em 0;
}

.project2 main section:nth-of-type(3) div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project2 main section:nth-of-type(3) div:last-of-type img {
    width: 30%;
    margin: 0;
}









/*****************/
/*** PROJECT 3 ***/
/*****************/

.project3 main section:first-of-type {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    margin-top: 1.5em;
}

.project3 main section:first-of-type a {
    grid-row: 1;
    grid-column: 1;
    text-decoration: none;
    color: var(--color-dark);
}

.project3 main section:first-of-type a i {
    color: var(--color-dark);
    font-size: 2.5em;
}

.project3 main section:first-of-type h1 {
    margin: 0;
    grid-row: 1;
    grid-column: 2;
}

.project3 main section:first-of-type h2 {
    margin: 0;
    padding: 0;
    grid-row: 2;
    grid-column: 2;
    text-align: left;
    color: var(--color-accent);
}

.project3 main section:nth-of-type(2) {
    margin-top: 1.5em;
}

.project3 main section:nth-of-type(2) img {
    width: 100%;
}

.project3 main section:nth-of-type(2) > div:first-of-type {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 4;

    column-gap: 1em;
    row-gap: 1em;

    margin: 1.5em 0 3em 0;
}

.project3 main section:nth-of-type(2) > div:first-of-type p {
    padding: 0;
    margin: 0;

}

.project3 main section:nth-of-type(2) > div:first-of-type p:first-of-type {
    grid-column: 1;
    grid-row: 1;
}

.project3 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2;
}

.project3 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3;
}

.project3 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(4) {
    grid-column: 1;
    grid-row: 4;
}

.project3 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(5) {
    grid-column: 1;
    grid-row: 5;
}

.project3 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(6) {
    grid-column: 2;
    grid-row: 1;
}

.project3 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(7) {
    grid-column: 2;
    grid-row: 2;
}

.project3 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(8) {
    grid-column: 2;
    grid-row: 3;
}

.project3 main section:nth-of-type(2) > div:first-of-type p:nth-of-type(9) {
    grid-column: 2;
    grid-row: 4;
}

.project3 main section:nth-of-type(2) > div:first-of-type p:last-of-type {
    grid-column: 2;
    grid-row: 5;
}

.project3 main section:nth-of-type(2) > div:last-of-type {
    margin-bottom: 3em;
}

.project3 main section:nth-of-type(2) > div:last-of-type p {
    font-weight: 600;
}

.project3 main section:nth-of-type(3) {
    margin-bottom: 3em;
}

.project3 main section:nth-of-type(3) h3 {
    margin-top: 0;
}

.project3 main section:nth-of-type(3) img {
    width: 100%;
}

.project3 main section:nth-of-type(3) img:first-of-type {
    margin-bottom: 1.5em;
}

.project3 main section:nth-of-type(3) h3:last-of-type {
    margin-top: 2em;
}

.project3 main section:nth-of-type(3) p:last-of-type {
    margin: 1.5em 0 2em 0;
}

.project3 main section:nth-of-type(3) div:last-of-type {}

.project3 main section:nth-of-type(3) div:last-of-type img {
    width: 30%;
    margin: 0;
}









/*****************/
/**** FOOTER ****/
/****************/

footer {
    background-color: var(--color-dark);
    color: var(--color-light);
}

footer a {
    text-decoration: none;
    color: var(--color-light);
}

footer > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
    font-weight: 600;
    padding: 0 1em 0 1em;
}

footer > div:first-of-type a:nth-of-type(2) {
    font-size: 1.5em;
    color: var(--color-accent);
}

footer > div:first-of-type a:nth-of-type(2) span {
    color: var(--color-light);
    margin-right: -.2em;
}

footer > div:last-of-type {
    text-align: center;
}

footer > div:last-of-type > div {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 8em 1.5em;
}

footer > div:last-of-type > div img {
    height: 1.5em;
}









/***************************/
/***************************/
/* MEDIA QUERY SCREEN SIZES*/
/***************************/
/***************************/

/* Voor Tablets en iPads */

@media only screen and (min-width: 768px) {

    body {
        margin: 0;

        background-color: var(--color-light);

        font-family: var(--text);
        color: var(--color-dark);
    }

    h2 {
        margin: 0;
        padding: 2em 0 1.5em 0;
        font-size: 2em;
        text-align: center;
    }

    p {
        font-size: 1.25em;
    }

    header {
        margin: 0;
        padding: 0 1em;

        font-size: 1.25em;
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        align-items: center;
    }

    .toggle {
        display: none;
    }

    .menu {
        grid-column: 1;
        grid-row: 1;
    }

    .menulist {
        display: flex;
        justify-content: flex-start;
        gap: 3em;
    }

    .menulist li a {
        font-weight: 600;
    }

    header .logo {
        grid-column: 2;
        grid-row: 1;
    }









    /********************/
    /**** MAIN INDEX ****/
    /********************/

    section {
        padding: 0 1.5em;
    }




    /* About Me */

    /*Geen aanpassingen*/




    /* Design Skills */

    /*Geen aanpassingen*/




    /* Portfolio */

    .projects {
        margin-bottom: 121em;
    }

    .items {
        position: absolute;
        top: 75%;

        margin: 0 1em;
    }

    #loods5 > div > div h3,
    #doededate > div > div h3,
    #projectinteractie > div > div h3 {
        font-size: 1.25em;
    }

    #loods5 > div > div p,
    #doededate > div > div p,
    #projectinteractie > div > div p {
        margin: 0.75em 0;
    }

    #loods5 i,
    #doededate i,
    #projectinteractie i {
        color: var(--color-light);
        font-size: 1.5em;

        background-color: var(--color-hover);

        padding: .75em;

        border-radius: 250px;

        transform: rotate(-45deg)
    }




    /* Contact Opnemen */

    .contact > p {
        width: 60%;
        line-height: 1.75em;
    }

    .contact > div:first-of-type > div i {
        font-size: 1.25em;
    }









    /******************/
    /**** ABOUT ME ****/
    /******************/

    /*** Zie About me & Design skills bij MAIN INDEX ***/

    .education h2,
    .workexp h2 {
        padding-bottom: 1em;
    }

    .education h4,
    .workexp h4 {
        font-size: 1.25em;
    }

    .education i,
    .workexp i {
        font-size: 1.25em;
    }









    /**********************/
    /*** PORTFOLIO PAGE ***/
    /**********************/

    /*** Zie Portfolio bij MAIN INDEX ***/

    .portfolio .projects {
        margin-bottom: 121em;
    }









    /*****************/
    /*** PROJECT 1 ***/
    /*****************/

    .project1 main section:first-of-type h1,
    .project1 main section:first-of-type h2 {
        margin-right: 10em;
    }

    .project1 main section:first-of-type h1 {
        font-size: 2em;
        margin-bottom: .5em;
    }

    .project1 main section:first-of-type h2 {
        margin-bottom: .5em;
    }

    .project1 main section:nth-of-type(2) div:last-of-type a {
        font-size: 1.25em;
    }

    .project1 main section:last-of-type div:nth-of-type(2),
    .project1 main section:last-of-type div:last-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .project1 main section:last-of-type div:nth-of-type(2) img,
    .project1 main section:last-of-type div:last-of-type img {
        width: 48%;
        margin: 0
    }









    /*****************/
    /*** PROJECT 2 ***/
    /*****************/

    .project2 main section:first-of-type h1,
    .project2 main section:first-of-type h2 {
        margin-right: 10em;
    }

    .project2 main section:first-of-type h1 {
        font-size: 2em;
        margin-bottom: .5em;
    }

    .project2 main section:first-of-type h2 {
        margin-bottom: .5em;
    }

    .project2 main section:nth-of-type(2) div:last-of-type a {
        font-size: 1.25em;
    }









    /*****************/
    /*** PROJECT 3 ***/
    /*****************/

    .project3 main section:first-of-type h1,
    .project3 main section:first-of-type h2 {
        margin-right: 10em;
    }

    .project3 main section:first-of-type h1 {
        font-size: 2em;
        margin-bottom: .5em;
    }

    .project3 main section:first-of-type h2 {
        margin-bottom: .5em;
    }

    .project3 main section:nth-of-type(2) div:last-of-type a {
        font-size: 1.25em;
    }









    /*****************/
    /**** FOOTER ****/
    /****************/

    footer > div:first-of-type {
        padding: 0 5em;
    }

    footer > div:last-of-type > div {
        display: flex;
        justify-content: space-evenly;
        padding: 1.5em 10em 2em;
    }
}









/* Voor iPad Pro */

@media only screen and (min-width: 1024px) {

    .projects {
        margin-bottom: 155em;
    }

    .portfolio .projects {
        margin-bottom: 155em;
    }

    footer > div:first-of-type {
        padding: 0 5em;
    }

    footer > div:last-of-type > div {
        display: flex;
        justify-content: space-evenly;
        padding: 1.5em 18em 2em;
    }
}










/* Voor Laptops en "kleine" Desktops */

@media only screen and (min-width: 1920px) {}
